* {
	padding: 0;
	margin : 0;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #121213;
}
hr {
    width: 460%;
	margin-top: 15px;
	margin-bottom: 5px;
}

div {
    /* border: solid 1px #FFFFFF; */
	width: 500px;
	display: flex;
	margin: 0 auto;
	margin-top: 5px;
    flex-wrap: wrap;

}

h1 {
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	color: #d3d3d3;
	margin: auto;
	text-align:center;
}

p {
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	color: #d3d3d3;
	margin: 0;
	text-align:left;
}

.p-bold {
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	color: #d3d3d3;
	margin: auto;
	text-align:left;
	font-weight: bold;
}

img {
	margin-top: 20px;
	margin-bottom: 10px;
}

ul li {
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	color: #d3d3d3;
	margin: 0;
	text-align:left;
}